@media print {
    .print-only {
        display: block !important;
    }

    .no-print {
        display: none !important;
    }

    .badge .rounded-pill .text-bg-success {
      background-color: #198754 !important;
    }
    .badge .rounded-pill .text-bg-primary{

    }
    .badge .rounded-pill .text-bg-warning {
        background-color: #ffc107 !important;
    }

    .badge .rounded-pill .text-bg-danger {
        background-color: #dc3545 !important;
    }

    .badge .rounded-pill .text-bg-secondary {

    }


}