@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  min-height: 110vh;
}

.print-only {
  display: none;
}

nav a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

nav a img {
  width: 5vh;
  height: 5vh;
}

nav i {
  color: white;
  display: block;
  font-size: 4vh;
}

nav i:hover {
  cursor: not-allowed;
}

.form-control:focus {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.container {
  padding: 5vh;
}

#repo-url {
  width: 30vw;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chart {
  width: inherit;
  height: 100%;
}

svg .main-svg {
  background-color: red;
}

input {
  padding-top: 0.5em;
}

.bi .bi-globe2 {
  text-decoration: none !important;
}

.loading-container {
  display: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

#results-header {
  margin-bottom: 3vh;
}

.card, #chart {
  margin-bottom: 5vh;
}

table {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
  }

  form label {
    width: 100%;
  }

  #repo-url {
    width: 100%;
  }

  form button[type=submit] {
    width: 50vw;
  }
}
