* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  min-height: 110vh;
}

.container {
  padding: 5vh;
}

thead {
  background-color: #212529;
  color: whitesmoke;
}

#chart {
  width:800px;
  height:500px;
}

.loading-container {
  display: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}