* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  min-height: 110vh;
}

nav a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 5vh;
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chart {
  width:800px;
  height:500px;
}

input {
  padding-top: 0.5em;
}

.loading-container {
  display: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}