{% extends "base.html" %}
{% block content %}
    <form method="post" onsubmit="showLoading()" data-bs-theme="light">
        <label class="text-light">
            Repo URL:
            <input required type="url" class="form-control input-large mt-1" id="repo-url" name="repo-url" placeholder="E.g. https://github.com/ArchontisKostis/myUoMApp">
        </label>

        <label class="text-light">
            From Date:
            <input type="date" class="form-control mt-1" name="from-date-input">
        </label>
        <label class="text-light">
            To Date:
            <input type="date" class="form-control mt-1" name="to-date-input">
        </label>
        <input type="submit" value="Analyse" class="btn btn-danger">
    </form>

    <hr>

    <div class="loading-container" id="loading">
        <h3 class="text-light">Loading analysis</h3>
        <p class="text-light"> This might take a while...</p>
        <div class="spinner-grow text-danger" role="status">
        </div>
    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}" role="alert">
                <div>{{ message }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}

    {% block results_content %}
    {% endblock results_content %}

    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission

            showLoading(); // Show loading spinner

            // Manually submit the form after a delay (e.g., 1 second)
            setTimeout(function() {
                document.getElementById("myForm").submit();
            }, 500);
        });

        function showLoading() {
            document.getElementById("loading").style.display = "flex";
        }
    </script>
{% endblock content %}