{% extends "base.html" %}
{% block content %}
    <h1><a href="/">FGHA</a></h1>
    <form method="post">
        <label>
            Repo URL:
            <input type="url" id="repo-url" name="repo-url">
        </label>
        <label>
            From Date:
            <input type="date" name="from-date-input">
        </label>
        <label>
            To Date:
            <input type="date" name="to-date-input">
        </label>
        <input type="submit" value="Analyse">
    </form>

    <hr>
    {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
    {% endfor %}

    {% block results_content %}
    {% endblock results_content %}

{% endblock content %}